<%= render "shared/login_form" %>

<h2>Latest Event</h2>
<ul>
  <% 5.times do |i| %>
    <li><%= link_to "EVENT", "#" %></li>
  <% end %>
</ul>

<h2>Member Blog</h2>
<ul>
  <% 5.times do |i| %>
    <li><%= link_to "BLOG", "#" %></li>
  <% end %>
</ul>
